/*START SAVE*/
.btn.save:not(.btn-outline) {
    color: #FFFFFF;
    background-color: #26C281;
    border-color: #26C281;
}

.btn.save:not(.btn-outline):focus, .btn.save:not(.btn-outline).focus {
    color: #FFFFFF;
    background-color: #1e9765;
    border-color: #11573a;
}

.btn.save:not(.btn-outline):hover {
    color: #FFFFFF;
    background-color: #1e9765;
    border-color: #1c8f5f;
}

.btn.save:not(.btn-outline):active, .btn.save:not(.btn-outline).active, .open > .btn.save:not(.btn-outline).dropdown-toggle {
    color: #FFFFFF;
    background-color: #1e9765;
    border-color: #1c8f5f;
}

.btn.save:not(.btn-outline):active:hover, .btn.save:not(.btn-outline):active:focus, .btn.save:not(.btn-outline):active.focus, .btn.save:not(.btn-outline).active:hover, .btn.save:not(.btn-outline).active:focus, .btn.save:not(.btn-outline).active.focus, .open > .btn.save:not(.btn-outline).dropdown-toggle:hover, .open > .btn.save:not(.btn-outline).dropdown-toggle:focus, .open > .btn.save:not(.btn-outline).dropdown-toggle.focus {
    color: #FFFFFF;
    background-color: #187a51;
    border-color: #11573a;
}

.btn.save:not(.btn-outline):active, .btn.save:not(.btn-outline).active, .open > .btn.save:not(.btn-outline).dropdown-toggle {
    background-image: none;
}

.btn.save:not(.btn-outline).disabled:hover, .btn.save:not(.btn-outline).disabled:focus, .btn.save:not(.btn-outline).disabled.focus, .btn.save:not(.btn-outline)[disabled]:hover, .btn.save:not(.btn-outline)[disabled]:focus, .btn.save:not(.btn-outline)[disabled].focus, fieldset[disabled] .btn.save:not(.btn-outline):hover, fieldset[disabled] .btn.save:not(.btn-outline):focus, fieldset[disabled] .btn.save:not(.btn-outline).focus {
    background-color: #26C281;
    border-color: #26C281;
}

.btn.save:not(.btn-outline) .badge {
    color: #26C281;
    background-color: #FFFFFF;
}

.btn.btn-outline.green-jungle {
    border-color: #26C281;
    color: #26C281;
    background: none;
}

.btn.btn-outline.green-jungle:hover, .btn.btn-outline.green-jungle:active, .btn.btn-outline.green-jungle:active:hover, .btn.btn-outline.green-jungle:active:focus, .btn.btn-outline.green-jungle:focus, .btn.btn-outline.green-jungle.active {
    border-color: #26C281;
    color: #FFFFFF;
    background-color: #26C281;
}

.btn.save-stripe {
    border-left: 4px solid #26C281 !important;
}
/*END SAVE*/
/*START DELETE*/
.btn.delete:not(.btn-outline) {
    color: #ffffff;
    background-color: #e7505a;
    border-color: #e7505a;
}

.btn.delete:not(.btn-outline):focus, .btn.delete:not(.btn-outline).focus {
    color: #ffffff;
    background-color: #e12330;
    border-color: #a1161f;
}

.btn.delete:not(.btn-outline):hover {
    color: #ffffff;
    background-color: #e12330;
    border-color: #dc1e2b;
}

.btn.delete:not(.btn-outline):active, .btn.delete:not(.btn-outline).active, .open > .btn.delete:not(.btn-outline).dropdown-toggle {
    color: #ffffff;
    background-color: #e12330;
    border-color: #dc1e2b;
}

.btn.delete:not(.btn-outline):active:hover, .btn.delete:not(.btn-outline):active:focus, .btn.delete:not(.btn-outline):active.focus, .btn.delete:not(.btn-outline).active:hover, .btn.delete:not(.btn-outline).active:focus, .btn.delete:not(.btn-outline).active.focus, .open > .btn.delete:not(.btn-outline).dropdown-toggle:hover, .open > .btn.delete:not(.btn-outline).dropdown-toggle:focus, .open > .btn.delete:not(.btn-outline).dropdown-toggle.focus {
    color: #ffffff;
    background-color: #c51b26;
    border-color: #a1161f;
}

.btn.delete:not(.btn-outline):active, .btn.delete:not(.btn-outline).active, .open > .btn.delete:not(.btn-outline).dropdown-toggle {
    background-image: none;
}

.btn.delete:not(.btn-outline).disabled:hover, .btn.delete:not(.btn-outline).disabled:focus, .btn.delete:not(.btn-outline).disabled.focus, .btn.delete:not(.btn-outline)[disabled]:hover, .btn.delete:not(.btn-outline)[disabled]:focus, .btn.delete:not(.btn-outline)[disabled].focus, fieldset[disabled] .btn.delete:not(.btn-outline):hover, fieldset[disabled] .btn.delete:not(.btn-outline):focus, fieldset[disabled] .btn.delete:not(.btn-outline).focus {
    background-color: #e7505a;
    border-color: #e7505a;
}

.btn.delete:not(.btn-outline) .badge {
    color: #e7505a;
    background-color: #ffffff;
}

.btn.btn-outline.red {
    border-color: #e7505a;
    color: #e7505a;
    background: none;
}

.btn.btn-outline.red:hover, .btn.btn-outline.red:active, .btn.btn-outline.red:active:hover, .btn.btn-outline.red:active:focus, .btn.btn-outline.red:focus, .btn.btn-outline.red.active {
    border-color: #e7505a;
    color: #ffffff;
    background-color: #e7505a;
}

.btn.delete-stripe {
    border-left: 4px solid #e7505a !important;
}
/*END DELETE*/
/*START SEARCH*/
.btn.search:not(.btn-outline) {
    color: #ffffff;
    background-color: #F7CA18;
    border-color: #F7CA18;
}

.btn.search:not(.btn-outline):focus, .btn.search:not(.btn-outline).focus {
    color: #ffffff;
    background-color: #d5ab07;
    border-color: #8b7005;
}

.btn.search:not(.btn-outline):hover {
    color: #ffffff;
    background-color: #d5ab07;
    border-color: #cba307;
}

.btn.search:not(.btn-outline):active, .btn.search:not(.btn-outline).active, .open > .btn.search:not(.btn-outline).dropdown-toggle {
    color: #ffffff;
    background-color: #d5ab07;
    border-color: #cba307;
}

.btn.search:not(.btn-outline):active:hover, .btn.search:not(.btn-outline):active:focus, .btn.search:not(.btn-outline):active.focus, .btn.search:not(.btn-outline).active:hover, .btn.search:not(.btn-outline).active:focus, .btn.search:not(.btn-outline).active.focus, .open > .btn.search:not(.btn-outline).dropdown-toggle:hover, .open > .btn.search:not(.btn-outline).dropdown-toggle:focus, .open > .btn.search:not(.btn-outline).dropdown-toggle.focus {
    color: #ffffff;
    background-color: #b28f06;
    border-color: #8b7005;
}

.btn.search:not(.btn-outline):active, .btn.search:not(.btn-outline).active, .open > .btn.search:not(.btn-outline).dropdown-toggle {
    background-image: none;
}

.btn.search:not(.btn-outline).disabled:hover, .btn.search:not(.btn-outline).disabled:focus, .btn.search:not(.btn-outline).disabled.focus, .btn.search:not(.btn-outline)[disabled]:hover, .btn.search:not(.btn-outline)[disabled]:focus, .btn.search:not(.btn-outline)[disabled].focus, fieldset[disabled] .btn.search:not(.btn-outline):hover, fieldset[disabled] .btn.search:not(.btn-outline):focus, fieldset[disabled] .btn.search:not(.btn-outline).focus {
    background-color: #F7CA18;
    border-color: #F7CA18;
}

.btn.search:not(.btn-outline) .badge {
    color: #F7CA18;
    background-color: #ffffff;
}

.btn.btn-outline.search {
    border-color: #F7CA18;
    color: #F7CA18;
    background: none;
}

.btn.btn-outline.search:hover, .btn.btn-outline.search:active, .btn.btn-outline.search:active:hover, .btn.btn-outline.search:active:focus, .btn.btn-outline.search:focus, .btn.btn-outline.search.active {
    border-color: #F7CA18;
    color: #ffffff;
    background-color: #F7CA18;
}

.btn.search-stripe {
    border-left: 4px solid #F7CA18 !important;
}
/*END SEARCH*/
/*START CLEAR*/
.btn.clear:not(.btn-outline) {
    color: #FFFFFF;
    background-color: #3598dc;
    border-color: #3598dc;
}

.btn.clear:not(.btn-outline):focus, .btn.clear:not(.btn-outline).focus {
    color: #FFFFFF;
    background-color: #217ebd;
    border-color: #15527c;
}

.btn.clear:not(.btn-outline):hover {
    color: #FFFFFF;
    background-color: #217ebd;
    border-color: #1f78b5;
}

.btn.clear:not(.btn-outline):active, .btn.clear:not(.btn-outline).active, .open > .btn.clear:not(.btn-outline).dropdown-toggle {
    color: #FFFFFF;
    background-color: #217ebd;
    border-color: #1f78b5;
}

.btn.clear:not(.btn-outline):active:hover, .btn.clear:not(.btn-outline):active:focus, .btn.clear:not(.btn-outline):active.focus, .btn.clear:not(.btn-outline).active:hover, .btn.clear:not(.btn-outline).active:focus, .btn.clear:not(.btn-outline).active.focus, .open > .btn.clear:not(.btn-outline).dropdown-toggle:hover, .open > .btn.clear:not(.btn-outline).dropdown-toggle:focus, .open > .btn.clear:not(.btn-outline).dropdown-toggle.focus {
    color: #FFFFFF;
    background-color: #1c699f;
    border-color: #15527c;
}

.btn.clear:not(.btn-outline):active, .btn.clear:not(.btn-outline).active, .open > .btn.clear:not(.btn-outline).dropdown-toggle {
    background-image: none;
}

.btn.clear:not(.btn-outline).disabled:hover, .btn.clear:not(.btn-outline).disabled:focus, .btn.clear:not(.btn-outline).disabled.focus, .btn.clear:not(.btn-outline)[disabled]:hover, .btn.clear:not(.btn-outline)[disabled]:focus, .btn.clear:not(.btn-outline)[disabled].focus, fieldset[disabled] .btn.clear:not(.btn-outline):hover, fieldset[disabled] .btn.clear:not(.btn-outline):focus, fieldset[disabled] .btn.clear:not(.btn-outline).focus {
    background-color: #3598dc;
    border-color: #3598dc;
}

.btn.clear:not(.btn-outline) .badge {
    color: #3598dc;
    background-color: #FFFFFF;
}

.btn.btn-outline.clear {
    border-color: #3598dc;
    color: #3598dc;
    background: none;
}

.btn.btn-outline.clear:hover, .btn.btn-outline.clear:active, .btn.btn-outline.clear:active:hover, .btn.btn-outline.clear:active:focus, .btn.btn-outline.clear:focus, .btn.btn-outline.clear.active {
    border-color: #3598dc;
    color: #FFFFFF;
    background-color: #3598dc;
}

.btn.clear-stripe {
    border-left: 4px solid #3598dc !important;
}
/*END CLEAR*/
/*START EXIT*/
.btn.exit:not(.btn-outline) {
    color: #ffffff;
    background-color: #9A12B3;
    border-color: #9A12B3;
}

.btn.exit:not(.btn-outline):focus, .btn.exit:not(.btn-outline).focus {
    color: #ffffff;
    background-color: #720d85;
    border-color: #36063f;
}

.btn.exit:not(.btn-outline):hover {
    color: #ffffff;
    background-color: #720d85;
    border-color: #6a0c7b;
}

.btn.exit:not(.btn-outline):active, .btn.exit:not(.btn-outline).active, .open > .btn.exit:not(.btn-outline).dropdown-toggle {
    color: #ffffff;
    background-color: #720d85;
    border-color: #6a0c7b;
}

.btn.exit:not(.btn-outline):active:hover, .btn.exit:not(.btn-outline):active:focus, .btn.exit:not(.btn-outline):active.focus, .btn.exit:not(.btn-outline).active:hover, .btn.exit:not(.btn-outline).active:focus, .btn.exit:not(.btn-outline).active.focus, .open > .btn.exit:not(.btn-outline).dropdown-toggle:hover, .open > .btn.exit:not(.btn-outline).dropdown-toggle:focus, .open > .btn.exit:not(.btn-outline).dropdown-toggle.focus {
    color: #ffffff;
    background-color: #560a64;
    border-color: #36063f;
}

.btn.exit:not(.btn-outline):active, .btn.exit:not(.btn-outline).active, .open > .btn.exit:not(.btn-outline).dropdown-toggle {
    background-image: none;
}

.btn.exit:not(.btn-outline).disabled:hover, .btn.exit:not(.btn-outline).disabled:focus, .btn.exit:not(.btn-outline).disabled.focus, .btn.exit:not(.btn-outline)[disabled]:hover, .btn.exit:not(.btn-outline)[disabled]:focus, .btn.exit:not(.btn-outline)[disabled].focus, fieldset[disabled] .btn.exit:not(.btn-outline):hover, fieldset[disabled] .btn.exit:not(.btn-outline):focus, fieldset[disabled] .btn.exit:not(.btn-outline).focus {
    background-color: #9A12B3;
    border-color: #9A12B3;
}

.btn.exit:not(.btn-outline) .badge {
    color: #9A12B3;
    background-color: #ffffff;
}

.btn.btn-outline.exit {
    border-color: #9A12B3;
    color: #9A12B3;
    background: none;
}

.btn.btn-outline.exit:hover, .btn.btn-outline.exit:active, .btn.btn-outline.exit:active:hover, .btn.btn-outline.exit:active:focus, .btn.btn-outline.exit:focus, .btn.btn-outline.exit.active {
    border-color: #9A12B3;
    color: #ffffff;
    background-color: #9A12B3;
}

.btn.exit-stripe {
    border-left: 4px solid #9A12B3 !important;
}
/*END EXIT*/
/*START DATE BUTTON*/
.btn.date:not(.btn-outline) {
    color: #ffffff;
    background-color: #F7CA18;
    border-color: #F7CA18;
}

.btn.date:not(.btn-outline):focus, .btn.date:not(.btn-outline).focus {
    color: #ffffff;
    background-color: #d5ab07;
    border-color: #8b7005;
}

.btn.date:not(.btn-outline):hover {
    color: #ffffff;
    background-color: #d5ab07;
    border-color: #cba307;
}

.btn.date:not(.btn-outline):active, .btn.date:not(.btn-outline).active, .open > .btn.date:not(.btn-outline).dropdown-toggle {
    color: #ffffff;
    background-color: #d5ab07;
    border-color: #cba307;
}

.btn.date:not(.btn-outline):active:hover, .btn.date:not(.btn-outline):active:focus, .btn.date:not(.btn-outline):active.focus, .btn.date:not(.btn-outline).active:hover, .btn.date:not(.btn-outline).active:focus, .btn.date:not(.btn-outline).active.focus, .open > .btn.date:not(.btn-outline).dropdown-toggle:hover, .open > .btn.date:not(.btn-outline).dropdown-toggle:focus, .open > .btn.date:not(.btn-outline).dropdown-toggle.focus {
    color: #ffffff;
    background-color: #b28f06;
    border-color: #8b7005;
}

.btn.date:not(.btn-outline):active, .btn.date:not(.btn-outline).active, .open > .btn.date:not(.btn-outline).dropdown-toggle {
    background-image: none;
}

.btn.date:not(.btn-outline).disabled:hover, .btn.date:not(.btn-outline).disabled:focus, .btn.date:not(.btn-outline).disabled.focus, .btn.date:not(.btn-outline)[disabled]:hover, .btn.date:not(.btn-outline)[disabled]:focus, .btn.date:not(.btn-outline)[disabled].focus, fieldset[disabled] .btn.date:not(.btn-outline):hover, fieldset[disabled] .btn.date:not(.btn-outline):focus, fieldset[disabled] .btn.date:not(.btn-outline).focus {
    background-color: #F7CA18;
    border-color: #F7CA18;
}

.btn.date:not(.btn-outline) .badge {
    color: #F7CA18;
    background-color: #ffffff;
}

.btn.btn-outline.date {
    border-color: #F7CA18;
    color: #F7CA18;
    background: none;
}

.btn.btn-outline.date:hover, .btn.btn-outline.date:active, .btn.btn-outline.date:active:hover, .btn.btn-outline.date:active:focus, .btn.btn-outline.date:focus, .btn.btn-outline.date.active {
    border-color: #F7CA18;
    color: #ffffff;
    background-color: #F7CA18;
}

.btn.date-stripe {
    border-left: 4px solid #F7CA18 !important;
}
/*END DATE BUTTON*/
/*START ED DEFAULT BUTTON*/
.btn.ed-default:not(.btn-outline) {
    color: #FFFFFF;
    background-color: #2ab4c0;
    border-color: #2ab4c0;
}

.btn.ed-default:not(.btn-outline):focus, .btn.ed-default:not(.btn-outline).focus {
    color: #FFFFFF;
    background-color: #218d96;
    border-color: #135257;
}

.btn.ed-default:not(.btn-outline):hover {
    color: #FFFFFF;
    background-color: #218d96;
    border-color: #1f858e;
}

.btn.ed-default:not(.btn-outline):active, .btn.ed-default:not(.btn-outline).active, .open > .btn.ed-default:not(.btn-outline).dropdown-toggle {
    color: #FFFFFF;
    background-color: #218d96;
    border-color: #1f858e;
}

.btn.ed-default:not(.btn-outline):active:hover, .btn.ed-default:not(.btn-outline):active:focus, .btn.ed-default:not(.btn-outline):active.focus, .btn.ed-default:not(.btn-outline).active:hover, .btn.ed-default:not(.btn-outline).active:focus, .btn.ed-default:not(.btn-outline).active.focus, .open > .btn.ed-default:not(.btn-outline).dropdown-toggle:hover, .open > .btn.ed-default:not(.btn-outline).dropdown-toggle:focus, .open > .btn.ed-default:not(.btn-outline).dropdown-toggle.focus {
    color: #FFFFFF;
    background-color: #1a7179;
    border-color: #135257;
}

.btn.ed-default:not(.btn-outline):active, .btn.ed-default:not(.btn-outline).active, .open > .btn.ed-default:not(.btn-outline).dropdown-toggle {
    background-image: none;
}

.btn.ed-default:not(.btn-outline).disabled:hover, .btn.ed-default:not(.btn-outline).disabled:focus, .btn.ed-default:not(.btn-outline).disabled.focus, .btn.ed-default:not(.btn-outline)[disabled]:hover, .btn.ed-default:not(.btn-outline)[disabled]:focus, .btn.ed-default:not(.btn-outline)[disabled].focus, fieldset[disabled] .btn.ed-default:not(.btn-outline):hover, fieldset[disabled] .btn.ed-default:not(.btn-outline):focus, fieldset[disabled] .btn.ed-default:not(.btn-outline).focus {
    background-color: #2ab4c0;
    border-color: #2ab4c0;
}

.btn.ed-default:not(.btn-outline) .badge {
    color: #2ab4c0;
    background-color: #FFFFFF;
}

.btn.btn-outline.ed-default {
    border-color: #2ab4c0;
    color: #2ab4c0;
    background: none;
}

.btn.btn-outline.ed-default:hover, .btn.btn-outline.ed-default:active, .btn.btn-outline.ed-default:active:hover, .btn.btn-outline.ed-default:active:focus, .btn.btn-outline.ed-default:focus, .btn.btn-outline.ed-default.active {
    border-color: #2ab4c0;
    color: #FFFFFF;
    background-color: #2ab4c0;
}

.btn.ed-default-stripe {
    border-left: 4px solid #2ab4c0 !important;
}
/*END ED DEFAULT BUTTON*/
/*START ED BACK BUTTON*/
.btn.back:not(.btn-outline) {
  color: #ffffff;
  background-color: #f2784b;
  border-color: #f2784b; }
  .btn.back:not(.btn-outline):focus,
  .btn.back:not(.btn-outline).focus {
    color: #ffffff;
    background-color: #ef541b;
    border-color: #b1390d; }
  .btn.back:not(.btn-outline):hover {
    color: #ffffff;
    background-color: #ef541b;
    border-color: #ee4d12; }
  .btn.back:not(.btn-outline):active,
  .btn.back:not(.btn-outline).active,
  .open > .btn.back:not(.btn-outline).dropdown-toggle {
    color: #ffffff;
    background-color: #ef541b;
    border-color: #ee4d12; }
    .btn.back:not(.btn-outline):active:hover,
    .btn.back:not(.btn-outline):active:focus,
    .btn.back:not(.btn-outline):active.focus,
    .btn.back:not(.btn-outline).active:hover,
    .btn.back:not(.btn-outline).active:focus,
    .btn.back:not(.btn-outline).active.focus,
    .open > .btn.back:not(.btn-outline).dropdown-toggle:hover,
    .open > .btn.back:not(.btn-outline).dropdown-toggle:focus,
    .open > .btn.back:not(.btn-outline).dropdown-toggle.focus {
      color: #ffffff;
      background-color: #d74510;
      border-color: #b1390d; }
  .btn.back:not(.btn-outline):active,
  .btn.back:not(.btn-outline).active,
  .open > .btn.back:not(.btn-outline).dropdown-toggle {
    background-image: none; }
  .btn.back:not(.btn-outline).disabled:hover,
  .btn.back:not(.btn-outline).disabled:focus,
  .btn.back:not(.btn-outline).disabled.focus,
  .btn.back:not(.btn-outline)[disabled]:hover,
  .btn.back:not(.btn-outline)[disabled]:focus,
  .btn.back:not(.btn-outline)[disabled].focus,
  fieldset[disabled] .btn.back:not(.btn-outline):hover,
  fieldset[disabled] .btn.back:not(.btn-outline):focus,
  fieldset[disabled] .btn.back:not(.btn-outline).focus {
    background-color: #f2784b;
    border-color: #f2784b; }
  .btn.back:not(.btn-outline) .badge {
    color: #f2784b;
    background-color: #ffffff; }

.btn.btn-outline.back {
  border-color: #f2784b;
  color: #f2784b;
  background: none; }
  .btn.btn-outline.back:hover,
  .btn.btn-outline.back:active,
  .btn.btn-outline.back:active:hover,
  .btn.btn-outline.back:active:focus,
  .btn.btn-outline.back:focus,
  .btn.btn-outline.back.active {
    border-color: #f2784b;
    color: #ffffff;
    background-color: #f2784b; }

.btn.back-stripe {
  border-left: 4px solid #f2784b !important; }
/*END ED BACK BUTTON*/