/*START SAVE*/
.save{
    color: #FFFFFF;
    background-color: #26C281;
    border-color: #26C281;
}

.save:hover {
    color: #FFFFFF;
    background-color: #1e9765;
    border-color: #1c8f5f;
}
/*END SAVE*/
/*START DELETE*/
.delete{
    color: #ffffff;
    background-color: #e7505a;
    border-color: #e7505a;;
    border-color: #F7CA18;
}

.delete:hover {
    color: #ffffff;
    background-color: #e12330;
    border-color: #dc1e2b;
}
/*END DELETE*/
/*START SEARCH*/
.search{
    color: #ffffff;
    background-color: #F7CA18;
    border-color: #F7CA18;
}

.search:hover {
    color: #ffffff;
    background-color: #d5ab07;
    border-color: #cba307;
}
/*END SEARCH*/
/*START CLEAR*/
.clear{
    color: #FFFFFF;
    background-color: #3598dc;
    border-color: #3598dc;
}

.clear:hover {
    color: #FFFFFF;
    background-color: #217ebd;
    border-color: #1f78b5;
}
/*END CLEAR*/
/*START EXIT*/
.exit{
    color: #ffffff;
    background-color: #9A12B3;
    border-color: #9A12B3;
}

.exit:hover {
    color: #ffffff;
    background-color: #720d85;
    border-color: #6a0c7b;
}
/*END EXIT*/
/*START DATE BUTTON*/
.date{
    color: #ffffff;
    background-color: #F7CA18;
    border-color: #F7CA18;
}

.date:hover {
    color: #ffffff;
    background-color: #d5ab07;
    border-color: #cba307;
}
/*END DATE BUTTON*/
/*START ED DEFAULT BUTTON*/
.ed-default{
    color: #FFFFFF;
    background-color: #2ab4c0;
    border-color: #2ab4c0;
}

.ed-default:hover {
    color: #FFFFFF;
    background-color: #218d96;
    border-color: #1f858e;
}

/*END ED DEFAULT BUTTON*/

/*START ED DEFAULT BUTTON*/
.back{
    color: #FFFFFF;
    background-color: #f2784b;
    border-color: #f2784b;
}

.back:hover {
    color: #FFFFFF;
    background-color: #ef541b;
    border-color: #ee4d12;
}

/*END ED DEFAULT BUTTON*/

